- var looper = function(num,length,append){return 'item-'+(num == 0 ? 'first' : (num == length -1 ? 'last' : 'middle' ))+' item-'+num+' item-'+( num % 2 ? 'odd':'even')+(append?' '+append:'');}
- var hyperlinks = function(text){return text.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig,"<a href='$1'>$1</a>"); }
- var emails = function(text){return text.replace(/(\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)/,"<a href=\"mailto:$1\">$1</a>");}
- var processText = function(text){return emails(hyperlinks(text));}
- var split = function(val,def,prepend,i){i = 0;l=prepend.length;val = (val ? val+"" : def).split(',');while(val.length<prepend.length){val.push(val[val.length-1])};for(i;i<l;i++){val[i] = prepend[i]+'-'+val[i];}; return val.join(' ');}

mixin card(card,uid)
	- var sizes = ['phone','pad','laptop','desktop'];
	- var size = split(card.columns,'4',sizes);
	- var shift = split(card.shift,'l',sizes);
	- var theme = 'theme-' + (card.theme?card.theme:'a');
	- var classes = size+' '+shift+' '+theme
	- var length = card.content && card.content.length || 0;
	- if(card.header === true){card.header = card.title || card.name || card.slug;}
	- if(card.clap === true){card.clap = card.title || card.name || card.slug;}
	.card.slider(class=classes,id='card-'+uid)
		+anchor(uid)
		.slides(style="left:0px")
			each item,num in card.content
				- var className = looper(num,length);
				.slide(id=uid+'-'+num,class=className)
					if(item.map)
						+map(item,card)
					if(item.filename)
						+image(item,card)
					if(item.text)
						+text(item,card)
		if length > 1
			+dots(uid,card.content,length)
			+slider-controls()
		if card.clap
			+slider-title(card)
		if card.header
			+slider-header(card)

mixin menu(url,title,social,card)
	#Menu.nav
		.nav-section.logo
			a(href=url)
				span=title
		.nav-section.social
			.nav-inner
				each icon in social
					+social-link(icon)
		.nav-section.links
			.nav-inner
				each card,i in cards
					- var uid = card.slug ? card.slug : 'card-'+i;
					if card.pin
						a(href="#"+uid)=card.title


mixin map(item,card)
	.google-maps
		iframe(src=item.map,width="450",height="450",frameborder="0",style="border:0",scrolling="no",marginheight="0",marginwidth="0")

mixin text(item,card)
	- if(Object.prototype.toString.call(item.text) === '[object Array]'){
	-	item.text = item.text.join('<br>');
	- }
	.text-cell
		.text-contents
			p!=processText(item.text)

mixin image(item,card)
	- var focus = item.focus || '';
	- focus = focus.split(',');
	- focus[0] = focus[0] || 'center';
	- focus[1] = focus[1] || 'center';
	- prefix = card.basepathprefix ? card.basepathprefix : '';
	- suffix = card.basepathsuffix ? card.basepathsuffix : '';
	.image-loading
		i.image-loading-inner
	.image-inner(style='background-image:url('+prefix+item.filename+suffix+')',class="image-focus-"+focus[0]+"-"+focus[1])
	if item.caption
		.image-caption=item.caption

mixin anchor(slug)
	a.anchor(name=slug,id=slug)

mixin dots(uid,els,length)
	.dots
		each item,num in els
			- var active = (num == 0)? ' active' : ''
			a.dot(href="#"+uid+'-'+num,class=looper(num,length,"dot-"+num+active),data-num=num)

mixin slider(uid,images,size,title,slug)
	.card.slider(class=size,id='card-'+uid)
		+anchor(slug)
		.slides(style="left:0px;")
			+images-gallery(uid,images)
		+dots(uid,images)
		+slider-controls()
		if title
			+slider-title(title)

mixin slider-title(item)
	.slider-title
		.slider-title-inner
			h1=item.title

mixin slider-header(item)
	.slider-header
		h1=item.title

mixin slider-controls()
	.slider-controls
		a.slider-control.slider-control-left(href="#",data-dir="left")
			i
		a.slider-control.slider-control-right(href="#",data-dir="right")
			i

mixin social-link(provider)
	a.fa.social-link(href='http://www.'+provider.name+'.com/'+provider.address,class='fa-'+provider.name,target="_blank")