- var looper = function(num,length,append){return 'item-'+(num == 0 ? 'first' : (num == length -1 ? 'last' : 'middle' ))+' item-'+num+' item-'+( num % 2 ? 'odd':'even')+(append?' '+append:'');}

mixin card(card,uid)
	- var size = 'card-'+(card.columns? card.columns : 1);
	- var length = card.content && card.content.length || 0;
	- if(card.header === true){card.header = card.title || card.name || card.slug;}
	- if(card.clap === true){card.clap = card.title || card.name || card.slug;}
	.card.slider(class=size,id='card-'+uid)
		+anchor(uid)
		.slides(style="left:0px")
			each item,num in card.content
				- var className = looper(num,length);
				.slide(id=uid+'-'+num,class=className)
					if(item.filename)
						+image(item)
					if(item.text)
						+text(item)
		if length
			+dots(uid,card.content,length)
			+slider-controls()
		if card.clap
			+slider-title(card)
		if card.header
			+slider-header(card)


mixin text(item)
	.text-cell
		p!=item.text

mixin image(item)
	- var focus = item.focus || '';
	- focus = focus.split(',');
	- focus[0] = focus[0] || 'center';
	- focus[1] = focus[1] || 'center';
	.image-loading
		i.image-loading-inner.fa.fa-spinner.fa-spin
	.image-inner(style='background-image:url('+prefix+item.filename+'.jpg'+')',class="image-focus-"+focus[0]+"-"+focus[1])
	if item.caption
		.image-caption=item.caption

mixin anchor(slug)
	a.anchor(name=slug,id=slug)

mixin dots(uid,els,length)
	.dots
		each item,num in els
			- var active = (num == 0)? ' active' : ''
			a.dot(href="#"+uid+'-'+num,class=looper(num,length,"dot-"+num+active),data-num=num)

mixin slider(uid,images,size,title,slug)
	.card.slider(class=size,id='card-'+uid)
		+anchor(slug)
		.slides(style="left:0px;")
			+images-gallery(uid,images)
		+dots(uid,images)
		+slider-controls()
		if title
			+slider-title(title)

mixin slider-title(item)
	.slider-title
		.slider-title-inner
			h1=item.title

mixin slider-header(item)
	.slider-header
		h1=item.title

mixin slider-controls()
	.slider-controls
		a.slider-control.slider-control-left(href="#",data-dir="left")
			i.fa.fa-angle-left
		a.slider-control.slider-control-right(href="#",data-dir="right")
			i.fa.fa-angle-right